<!doctype html>
<html id="settings">

<head>
  <title>FriendlyFeed Options</title>
  <!-- build:css /app.css -->
  <link rel="stylesheet" href="./css/app.css"></link>
  <!-- endbuild -->
</head>

<body>
  <div class="container">
    <h1>FriendlyFeed</h1>
    <p>A Chrome extension to make Facebooks News Feed more Friendly</p>

    <h2>About</h2>

    <p>Version 0.1.0</p>
    <p>Inspired by <a href="https://en.wikipedia.org/wiki/FriendFeed">FriendFeed</a>, the amazing social aggregator that Facebook
      bought and subsequently shutdown without incorporating any of its cool features into Facebook.</p>
    <p>This version solves several glaring issues with the Facebook UI including:
      <ul>
        <li>Most Recent News Feed: Facebook offers two news feed modes that include Top News and Most Recent. The default is
          Top News which presents feed posts in a seemingly random order. However, since news feeds make sense when presented
          in a chronologicaly descending order the optional "Most Recent" mode is more desirable. The problem is Facebook
          only remembers this setting for short periods of time before reverting to the infuriating random mode. FriendlyFeed
          fixes this by monitoring the current mode and automatically restoring "Most Recent".
        </li>
        <li>Sponsored Posts: Facebook, like most free services, relies upon advertising. Unfortunately they are not satisfied
          with placing ads around the news feed but also within the news feed where they disrupt the flow. This extension
          does *not* remove ads outside of the feed (where they belong) but it does hide them within the feed to make feed
          reading a more seamless experience.
        </li>
        <li>People you may know: The "People you may know" box has a context menu option to hide the post but it only hides the
          post you have already seen. It does not hide subsequent posts. This means you see the same suggested people over
          and over again which is entirely redundant and annoying. FriendlyFeed assumes you will invite followers when you
          are ready rather than being constantly badgered with suggestions you have already chosen to ignore.
        </li>
      </ul>
    </p>
    <p>All the above features can be toggled on and off from the FriendlyFeed etxtension icon. </p>
  </div>

  <!-- build:js /app.js -->
  <script src="/js/settingsClass.js"></script>
  <script src="/js/app.js"></script>
  <!-- endbuild -->
</body>

</html>
