<!doctype html>
<html id="settings">

<head>
  <title>FriendlyFeed: Settings</title>
  <!-- build:css /app.css -->
  <link rel="stylesheet" href="./css/app.css"></link>
  <!-- endbuild -->
</head>

<body>
  <div class="container">
    <h1>FriendlyFeed Settings</h1>
    <p>There are no settings at this time.</p>
    <h2>About</h2>
    <p>Version 0.1.0</p>
    <p>Inspired by <a href="https://en.wikipedia.org/wiki/FriendFeed">FriendFeed</a>, the amazing social aggregator that Facebook
      bought and subsequently shutdown without incorporating any of its cool features into Facebook.</p>
    <p>This version does nothing other than hide sponsored posts. Since Facebook is either incapable of serving interesting
      ads, or perhaps prefers the blatent carpet-bombing approach, this extension simply deletes them from the DOM</p>
    <h2>Roadmap</h2>
    <ul>
      <li>Default the existing News Feed to Most Recent</li>
    </ul>
  </div>

  <script src="/js/settingsClass.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>
